@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.blog-page-container {
  padding: 14px;
  padding-top: 6px;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -16px;
}

.subscribe {
  font-family: "Roboto";
  font-size: 9px;
  color: #737373;
}

.large {
  font-size: 20px;
}

.search-icon {
  color: #737373;
  margin-right: 10px;
  font-size: 10px;
}

.signup-button {
  background-color: white;
  border: 1px solid #737373;
  border-radius: 2px;
  padding: 4px;
  color: #737373;
  font-family: "Roboto";
  font-size: 9px;
}

.hr-line {
  background-color: #f5f5f5;
}

.categories {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: -5px;
}

.category {
  color: #737373;
  font-family: "Roboto";
  font-size: 6px;
}

.title-card {
  width: 100%;
  background-color: #303030;
  border-radius: 3px;
  margin-top: 5px;
  padding: 18px;
  padding-top: 8px;
}

.card-heading {
  color: white;
  font-size: 18px;
  font-style: italic;
  width: 60%;
}

.card-description {
  color: white;
  font-family: "Roboto";
  font-size: 8px;
  width: 60%;
}

.continue-link {
  color: white;
  font-family: "Roboto";
  font-size: 9px;
  font-weight: 600;
  text-decoration: none;
}

.cards-container {
  display: flex;
  margin-top: 16px;
  width: 100%;
}

.card-1 {
  display: flex;
  margin-right: 14px;
  width: 50%;
}

.card-2 {
  display: flex;
  width: 45%;
}

.card-content {
  box-shadow: 0px 1px 2px #2938791f;
  border: 0.5px solid #e1e1e1;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 7px;
  padding-top: 5px;
  width: 30vw;
}

.card-name {
  color: #0033ff;
  font-family: "Roboto";
  font-size: 7px;
  font-weight: 600;
}

.card2-name {
  color: green;
  font-family: "Roboto";
  font-size: 7px;
  font-weight: 600;
}

.card-title {
  font-size: 9px;
  margin-bottom: -3px;
  margin-top: -4px;
}

.date {
  color: #737373;
  font-family: "Roboto";
  font-size: 6px;
  margin-bottom: -5px;
}

.desc {
  font-family: "Roboto";
  font-size: 6px;
}

.link {
  font-family: "Roboto";
  font-size: 6px;
  text-decoration: none;
  color: #0066ff;
  margin-top: 0px;
  margin-bottom: 0px;
}

.thumbnail {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #585858;
  color: white;
  font-family: "Roboto";
  font-size: 8px;
  width: 20vw;
}

.content-section {
  display: flex;
}

.left-section {
  width: 65%;
  padding-top: 8px;
}

.right-section {
  width: 35%;
  padding-top: 10px;
  padding-left: 8px;
}

.header {
  font-family: "Roboto";
  font-size: 10px;
  font-style: italic;
}

.blog-heading {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: -4px;
}

.margins {
  margin-bottom: 0px;
}

.heading {
  font-size: 13px;
}

.sub-heading {
  font-size: 12px;
}

.list {
  padding-left: 17px;
}

.ordered-list {
  padding-left: 14px;
}

.older-btn {
  border: 1px solid #0066ff;
  color: #0066ff;
  background-color: white;
  border-radius: 16px;
  font-family: "Roboto";
  font-size: 8px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 30px;
}

.newer-btn {
  border: 1px solid #676a6e;
  color: #676a6e;
  background-color: white;
  border-radius: 16px;
  font-family: "Roboto";
  font-size: 8px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 30px;
}

.about-card {
  background-color: #edf3fa;
  padding: 10px;
}

.date-list {
  margin-top: 5px;
  padding: 0px;
  list-style-type: none;
}

@media screen and (min-width: 576px) {
  .subscribe {
    font-size: 12px;
  }

  .large {
    font-size: 24px;
  }

  .search-icon {
    font-size: 13px;
  }

  .signup-button {
    font-size: 12px;
  }

  .category {
    font-size: 10px;
  }

  .card-heading {
    font-size: 20px;
  }

  .card-description {
    font-size: 10px;
  }

  .continue-link {
    font-size: 10px;
  }

  .card-name {
    font-size: 8px;
  }

  .card2-name {
    font-size: 8px;
  }

  .card-title {
    font-size: 11px;
  }

  .date {
    font-size: 8px;
  }

  .desc {
    font-size: 8px;
  }

  .link {
    font-size: 8px;
  }

  .card-2 {
    display: flex;
    width: 47%;
  }

  .thumbnail {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header {
    font-size: 11px;
  }

  .blog-heading {
    font-size: 15px;
  }

  .heading {
    font-size: 14px;
  }

  .sub-heading {
    font-size: 13px;
  }

  .older-btn {
    font-size: 9px;
  }

  .newer-btn {
    font-size: 9px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe {
    font-size: 16px;
  }

  .large {
    font-size: 32px;
  }

  .search-icon {
    font-size: 16px;
  }

  .signup-button {
    font-size: 16px;
  }

  .category {
    font-size: 13px;
  }

  .card-heading {
    font-size: 28px;
    width: 40%;
  }

  .card-description {
    font-size: 12px;
    width: 40%;
  }

  .continue-link {
    font-size: 12px;
  }

  .card-name {
    font-size: 10px;
  }

  .card2-name {
    font-size: 10px;
  }

  .card-title {
    font-size: 16px;
  }

  .date {
    font-size: 10px;
  }

  .desc {
    font-size: 10px;
  }

  .link {
    font-size: 10px;
  }

  .card-2 {
    display: flex;
    width: 48%;
  }

  .thumbnail {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 12px;
  }

  .header {
    font-size: 15px;
  }

  .blog-heading {
    font-size: 22px;
  }

  .heading {
    font-size: 17px;
  }

  .sub-heading {
    font-size: 16px;
  }

  .older-btn {
    font-size: 12px;
  }

  .newer-btn {
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) {
  .subscribe {
    font-size: 20px;
  }

  .large {
    font-size: 36px;
  }

  .search-icon {
    font-size: 20px;
  }

  .signup-button {
    font-size: 20px;
  }

  .category {
    font-size: 16px;
  }

  .card-heading {
    font-size: 34px;
    width: 40%;
  }

  .card-description {
    font-size: 14px;
    width: 40%;
  }

  .continue-link {
    font-size: 14px;
  }

  .card-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card-name {
    font-size: 13px;
  }

  .card2-name {
    font-size: 13px;
  }

  .card-title {
    font-size: 20px;
  }

  .date {
    font-size: 12px;
  }

  .desc {
    font-size: 12px;
  }

  .link {
    font-size: 12px;
  }

  .card-2 {
    display: flex;
    width: 48.5%;
  }

  .thumbnail {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14px;
  }

  .header {
    font-size: 17px;
  }

  .blog-heading {
    font-size: 26px;
  }

  .heading {
    font-size: 20px;
  }

  .sub-heading {
    font-size: 19px;
  }

  .older-btn {
    font-size: 16px;
  }

  .newer-btn {
    font-size: 14px;
  }

  .right-section {
    padding-left: 20px;
  }

  .blog-page-container {
    padding: 30px;
  }
}

@media screen and (min-width: 1390px) {
  .card-content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .card-2 {
    width: 49%;
  }
}
